## Learning Objectives

### 1. Python Lists vs. NumPy Arrays
- Understand the structural and performance differences between Python lists and NumPy arrays.

### 2. Memory Structure of NumPy Arrays
- Learn how NumPy arrays store homogeneous data in contiguous memory, enabling efficient numerical computation.

### 3. Basic NumPy Array Creation and Attributes
- `np.array`
- `np.zeros`
- `np.arange`

In [1]:
import numpy as np

### 1. Python Lists vs. NumPy Arrays

In [3]:
arr_1d = np.array([1, 2, 3, 4, 5])
arr_2d = np.array([[1, 2, 3, 4, 5],
                  [6, 7, 8, 9, 10],
                  [11, 12, 13, 14, 15],
                  [16, 17, 18, 19, 20],
                  [21, 22, 23, 24, 25]])

In [5]:
arr_2d1 = np.arange(26, 51).reshape(5, 5)

In [6]:
print("1D Array:", arr_1d)
print("Shape:", arr_1d.shape)
print("Dtype:", arr_1d.dtype)

1D Array: [1 2 3 4 5]
Shape: (5,)
Dtype: int64

In [7]:
print("\n2D Array:\n", arr_2d)
print("Shape:", arr_2d.shape)
print("Dtype:", arr_2d.dtype)

2D Array:
 [[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]
 [16 17 18 19 20]
 [21 22 23 24 25]]
Shape: (5, 5)
Dtype: int64

In [8]:
print("\n2D Array:\n", arr_2d1)
print("Shape:", arr_2d1.shape)
print("Dtype:", arr_2d1.dtype)

2D Array:
 [[26 27 28 29 30]
 [31 32 33 34 35]
 [36 37 38 39 40]
 [41 42 43 44 45]
 [46 47 48 49 50]]
Shape: (5, 5)
Dtype: int64

### 2. Memory Structure of NumPy Arrays

In [ ]:
# 1 ms = 10e-3 s
python_list = list(range(1, 1000001))
%timeit sum(python_list)

20.4 ms ± 1.93 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [ ]:
# 1 μs = 10e-6 s
numpy_list = np.arange(1, 1000001)
%timeit np.sum(numpy_list)

708 μs ± 65.7 μs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

### 3. Basic NumPy Array Creation and Attributes

In [13]:
zeros = np.zeros((3, 4))
print(zeros)

[[0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]]

In [15]:
ones = np.ones((2, 3))
print(ones)

[[1. 1. 1.]
 [1. 1. 1.]]

In [18]:
range_arr = np.arange(0, 12, 2)
print(range_arr)
print(range_arr.reshape(2, 3))

[ 0  2  4  6  8 10]
[[ 0  2  4]
 [ 6  8 10]]

In [19]:
linspace_arr = np.linspace(0, 7, 5)
print(linspace_arr)

[0.   1.75 3.5  5.25 7.  ]

# Numpy Drill (10 problems)

In [20]:
import numpy as np
np.random.seed(0)

In [25]:
# Problem 1. 차원 인식
data = np.random.rand(365, 73, 144) # (time, lat, lon)

# 1. 이 배열에서 global mean time series의 shape는? 코드로 작성하라.
# (365, ) -> Numpy에서 shape는 항상 tuple로 표현하니까.
data.mean(axis=(1, 2)).shape

(365,)

### axis (a, b, c) <--> axis : 0, 1, 2
- 즉 axis=(1, 2)는 latitude, longitude에 대해 평균을 내고, time(axis=0)만 남기라는 뜻.

- 만약 data.mean(axis=0) 을 했다면, mean spatial field가 나온다.

- 남은 축 : `time`
- 축 개수 : 1개
- 길이 365
- -> 1차원 배열

In [26]:
# Problem 2 : axis 실수 방지하기!
# zonal_mean의 shape는 무엇인가? 이 연산의 물리적인 의미는 무엇이겠는가?
zonal_mean = data.mean(axis=2)

1. zonal_mean shape는 (time, lat) = (365, 73)
2. 시간에 따른 longitude 방향 평균 -> zonal mean

In [27]:
# Problem 3 : broadcasting의 함정
lat = np.linspace(-90, 90, 73)
weighted = data * np.cos(np.deg2rad(lat))

# 이 코드가 에러 없이 실행되는가? 그 이유는?

ValueError: operands could not be broadcast together with shapes (365,73,144) (73,)

- data 는 (365, 73, 144), np.cos(np.deg2rad(lat))는 (73, )이다.
- numpy는 오른쪽 축부터 맞추려고 하다보니 (..., 73)으로 취급되어 마지막 축에 붙음. 그래서 broadcast가 안되는 것.

따라서 
p.cos(np.deg2rad(lat))[None, :, None]으로 두어야, broadcast가 성립된다.

### 즉, 축을 정확히 알고 있어야 간결해진다는 뜻이다.

In [29]:
weighted = data * np.cos(np.deg2rad(lat))[None, :, None]
print(weighted.shape)

(365, 73, 144)

In [32]:
## 문제 4 — 올바른 area-weighted mean 계산하기.
# latitude 가중 평균을 계산하는 올바른 코드는? -> shape: (365,)
weights = np.cos(np.deg2rad(lat))
w = weights[None, :, None]
# 합 / 기준값

result_latitude_weighted_sum = \
    np.sum(data * w, axis = (1, 2)) / np.sum(w)

In [31]:
print(result_latitude_weighted_sum.shape)

(365,)

In [33]:
result_latitude_weighted_sum

array([71.81034687, 71.98772365, 71.90226358, 71.78044686, 72.69218387,
       71.9072376 , 72.31076211, 72.09107801, 71.46433059, 72.34159221,
       71.79615319, 72.58981971, 71.54854715, 72.82350466, 71.55468085,
       72.31489909, 71.53695459, 72.31758665, 71.52525165, 72.45336663,
       71.77799914, 72.29639552, 71.42887058, 72.82422642, 71.98056171,
       71.9404165 , 73.23090058, 72.25043248, 71.87677564, 71.86656137,
       71.57403722, 71.63759514, 72.30919544, 72.61221837, 72.36169652,
       71.84270505, 72.17725293, 72.35821775, 71.59719138, 72.06535967,
       72.44964854, 72.1088863 , 71.91700286, 71.35270301, 71.85938703,
       72.01362052, 71.52200779, 71.9368533 , 72.0221785 , 71.88218053,
       72.15207597, 72.08701904, 71.91671046, 71.87895284, 72.14399283,
       72.02104133, 71.73022288, 73.15410186, 71.8063457 , 72.09947037,
       71.63406463, 71.75118868, 71.65566856, 72.23594202, 72.80323764,
       71.60584541, 70.9662686 , 72.69636261, 71.27107884, 72.92200156,
       71.95923126, 72.43604047, 71.7568276 , 71.77188991, 72.25141573,
       72.40960915, 72.22216896, 71.37414034, 71.20477025, 72.33438652,
       72.23707818, 71.57744246, 72.33927704, 72.05587401, 72.51212771,
       72.50054412, 71.94632951, 71.96335923, 71.85769846, 72.56752188,
       71.75965284, 72.2015797 , 71.77772237, 71.28250458, 71.79558777,
       71.62987925, 72.06127127, 72.3493229 , 71.71382437, 72.44099676,
       71.59877225, 71.74830129, 71.54186563, 72.00295789, 72.16446141,
       71.92611798, 71.18486135, 72.117365  , 71.7112863 , 71.77332831,
       72.52244325, 71.50046796, 72.23816362, 71.23620515, 71.88054691,
       71.00621262, 71.42695108, 72.05711931, 71.99203054, 72.11480265,
       72.48251957, 71.68033176, 72.85766572, 72.04252787, 72.10489177,
       71.63728766, 71.72456933, 71.97702056, 72.51126951, 71.57633969,
       71.57282976, 72.39083619, 71.71405985, 71.20184142, 71.92757607,
       72.20939675, 72.11694167, 72.59220425, 72.04713919, 71.3822042 ,
       71.4977521 , 72.48958013, 71.32048005, 71.43840053, 72.30333235,
       72.34006226, 71.77489431, 72.10062434, 71.3421699 , 71.46816947,
       71.43936798, 71.79503871, 71.92135646, 72.2617945 , 71.39469896,
       71.41332746, 72.50857699, 72.51412085, 71.74171524, 71.31954171,
       72.04933543, 71.71039314, 72.19065092, 71.86599197, 71.48497064,
       71.5814653 , 72.16802525, 72.34998658, 71.34461541, 71.39294716,
       72.92206571, 72.44727159, 71.11466973, 72.35281106, 71.87082896,
       72.25523053, 71.71442169, 71.37973707, 72.76631984, 72.42317824,
       72.62874942, 71.65495769, 72.18294528, 72.64942856, 71.97881775,
       72.14535911, 71.36286094, 71.34061507, 72.46983676, 72.42189613,
       72.54667927, 72.39375199, 71.93175119, 72.00696449, 71.17122859,
       72.45587133, 71.4787398 , 71.96236929, 72.5302544 , 71.64057509,
       72.17733363, 71.09710329, 71.54175358, 70.55926077, 72.34421681,
       72.50697709, 72.57498964, 72.3784822 , 72.4069324 , 72.5559696 ,
       71.73266467, 72.54023028, 71.7416564 , 71.46676588, 72.45662367,
       71.57894793, 72.07990345, 72.07502113, 72.21421252, 72.51497069,
       72.48207401, 72.22814784, 71.8956945 , 71.36800911, 72.28504102,
       71.77868103, 72.36234101, 72.37744228, 71.89713841, 71.95737189,
       71.45185152, 72.01083184, 71.94620137, 72.57959246, 71.67604944,
       71.29330046, 71.57246944, 71.96153431, 71.59985656, 72.2710626 ,
       71.90684222, 72.25873126, 72.26466039, 71.74006466, 71.78933535,
       71.89208359, 71.91229993, 71.82861319, 72.26824084, 72.17792965,
       72.53367617, 72.47695474, 72.11518837, 73.13765746, 72.09317138,
       71.69978825, 72.05301884, 71.4639821 , 71.64369953, 71.70492508,
       71.66708038, 71.16338432, 71.07849868, 72.05221534, 72.27677631,
       71.73076771, 71.89076334, 72.26441393, 71.4258713 , 71.99759372,
       72.82598403, 72.26571491, 71.68793793, 71.17465117, 71.88290728,
       71.51680277, 71.25441158, 71.89732471, 71.85855921, 71.25439775,
       72.01840143, 71.90213306, 71.66258082, 71.70979646, 71.53002244,
       71.83174309, 72.46174416, 72.78027334, 72.92672971, 71.6236878 ,
       71.33266905, 71.49614994, 71.78095712, 71.52428487, 71.96425406,
       71.89267055, 71.29506961, 72.25831586, 71.9167032 , 71.6732368 ,
       71.86584233, 72.25168003, 72.79868221, 72.18743142, 72.19947566,
       72.02867804, 71.94652466, 71.4890595 , 71.51872163, 71.7004002 ,
       72.37621494, 72.53245983, 72.22612728, 71.80467574, 71.78258675,
       72.76733286, 72.64382799, 71.17431848, 71.63815078, 71.89377018,
       72.28880429, 71.84775445, 72.58211814, 71.52950354, 71.9898643 ,
       72.14442068, 71.80367194, 71.66512527, 72.08038347, 72.34788309,
       72.08726799, 72.07042171, 72.0332933 , 71.73249103, 72.06476381,
       71.90383779, 71.66047248, 72.62236951, 71.82304642, 71.73535413,
       72.57916548, 72.43234004, 71.79508097, 72.34899335, 72.19979093,
       72.15614318, 71.38835361, 72.60508589, 71.69778178, 71.95424346,
       72.24615815, 72.76360564, 72.11233674, 72.72471064, 72.17771015,
       71.89464975, 71.58531196, 72.82373635, 72.11323966, 71.87276378,
       72.4714928 , 71.58756846, 71.8369699 , 72.34536807, 71.98236707])

In [36]:
# Problem 5 — view vs copy 
# `a`의 최종 값은? 왜 이런 일이 발생했는가? 이를 방지하려면 어떻게 해야 하는가?
a = np.arange(10) 
print(a)
b = a[2:8]
b[:] = -1
print(a)

[0 1 2 3 4 5 6 7 8 9]
[ 0  1 -1 -1 -1 -1 -1 -1  8  9]

In [40]:
# a = np.arange(10) -> [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
# b = a[2:8]  ->  [0, 1 list(b), 8, 9]
# b[:] = -1 -> list(b) = [-1, -1, -1 , -1, -1, -1]  
# -> a의 해당 메모리를 직접 수정한 것.
# print(a)  ->  [ 0  1 -1 -1 -1 -1 -1 -1  8  9]
# Numpy slicing은 기본적으로 view를 반환함.

a = np.arange(10)
print(a)
b = a[2:8].copy()
b[:] = -1
print(a)

[0 1 2 3 4 5 6 7 8 9]
[0 1 2 3 4 5 6 7 8 9]

In [41]:
## Problem 6. reshape 이후 데이터 오염
# `x`의 값은 변했는가?  이 동작이 위험한 이유는?

x = np.arange(12)
y = x.reshape(3, 4)
y[0, :] = 999

- 반드시 변하지.
- y가 x에 종속 된 상태인데 y를 변화시키면 x도..
- copy 쓰자

In [44]:
a1 = np.arange(60)
b1 = a1.reshape(3, 4, 5).copy()

b1[0, :, :] = 999

print(a1, '\n', b1)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
 48 49 50 51 52 53 54 55 56 57 58 59]
 [[[999 999 999 999 999]
  [999 999 999 999 999]
  [999 999 999 999 999]
  [999 999 999 999 999]]

 [[ 20  21  22  23  24]
  [ 25  26  27  28  29]
  [ 30  31  32  33  34]
  [ 35  36  37  38  39]]

 [[ 40  41  42  43  44]
  [ 45  46  47  48  49]
  [ 50  51  52  53  54]
  [ 55  56  57  58  59]]]

In [45]:
# Problem 7 — NaN + dtype 함정
# 무슨 일이 발생하는가? 실전에서 가장 안전한 초기화 방식은?
arr = np.array([1, 2, 3, 4])
arr[2] = np.nan
arr

ValueError: cannot convert float NaN to integer

- NaN = floating-point 전용

- 가장 안전한 초기화 방식ㅇ란, NaN이 나중에 들어올 수도 있다는 가능성 자체를 전제를 두고 코드를 짜야한다는 의미이다.

따라서,

- `arr = np.full(4, np.nan)`
- `arr = np.full((365, 73, 144), np.nan)`
- `arr = np.empty(4, dtype=float),  arr[:] = np.nan` 처럼 메모리 할당을 한다.

In [47]:
arr1 = np.array([1, 2, 3, 4, 5], dtype = float)
arr1[2] = np.nan
arr1

array([ 1.,  2., nan,  4.,  5.])

In [48]:
arr2 = np.empty(5, dtype=float)
arr2[:] = np.nan
arr2

array([nan, nan, nan, nan, nan])

In [52]:
# Problem 8 — NaN 포함 평균 내보기
# np.mean(temp) 결과는? NaN을 무시한 평균은 어떻게 계산할 것인가?

temp = np.array([280., 282., np.nan, 285.])

# 결과는 nan으로 처리된다. (nan 값을 어떻게 계산하라는건지 알 수가 없으니까.)
print(np.mean(temp))

nan

In [63]:
# pandas : temp.isna()
# numpy  : np.isnan(temp)

temp1 = temp.copy()
temp1_data = temp1[~np.isnan(temp)]
float(np.mean(temp1_data))

282.3333333333333

In [64]:
np.nanmean(temp)

np.float64(282.3333333333333)

In [70]:
# Problem 9 : 성능 사고
# 이 코드는 왜 비효율적일까요? Numpy 한 줄로 대체해봅시다.
data = np.random.rand(365, 73, 144) # (time, lat, lon)

result = []
for t in range(365):
    result.append(data[t].mean())
result = np.array(result) # [] = (365, )
print(result.shape)

(365,)

In [ ]:
# data 내에서 한 번에 계산하지 않고 with 벡터화, loop를 활용하기 때문입니다.
# numpy는 한 번에 큰 배열을 처리할 수 있기 때문.
result2 = np.mean(data, axis=(1, 2))
print(result2.shape)

(365,)

In [73]:
# Problem 10 — 종합

# data: (time, lat, lon)
# 목표: latitude 가중 global mean time series
# 필요한 개념 3가지를 나열하라, 최종 코드를 작성하라 (2~3줄 이내)

# data = np.random.rand(365, 73, 144)
# 개념 1 linspace..?
lat = np.linspace(-90, 90, 73)
w = np.cos(np.deg2rad(lat))[None, :, None] # broadcasting
global_mean = np.sum(data * w, axis=(1, 2)) / np.sum(w)

In [74]:
print(global_mean.shape)

(365,)